<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title><%= content_for?(:title) ? yield(:title) : "INDOC:ADMIN" %></title>

  <%= stylesheet_link_tag    "admin" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <%= content_for?(:javascripts) ? yield(:javascripts) : "" %>
</head>
<body>

<div id="h">
  <div class="logo"><%= link_to "TIDE ADMIN", "/admin" %></div>
  <div class="account_nav">
    <% if logged_in? %>
      <%= link_to current_user.email %>
      <%= link_to "Log Out", logout_path %>
    <% else %>
      <%= link_to "Sign Up", signup_path %>
      <%= link_to "Log In", login_path %>
    <% end %>
  </div>
  <%= navigation_tag :class => "top_nav" do |m| %>
    <%= m.item "EVENTS", admin_events_path, :current => current_controller?("admin/events") %>
    <%= m.item "VIDEOS", admin_videos_path, :current => current_controller?(["admin/videos"]) %>
    <%= m.item "DOCUMENTS", admin_assets_path, :current => current_controller?(["admin/assets"]) %>
    <%= m.item "POSTS", admin_posts_path, :current => current_controller?(["admin/posts"]) %>
    <%= m.item "USERS", admin_users_path, :current => current_controller?("admin/users") %>
    <%= m.item "CATEGORIES", admin_categories_path, :current => current_controller?("admin/categories") %>
  <% end %>
</div>

<div id="c">
  <%= yield %>
</div>

</body>
</html>
