<!doctype html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title><%= content_for?(:title) ? yield(:title) : "TIDE Institute" %></title>
  <meta name="description" content="">
  <meta name="author" content="TIDE Institute">
  <meta property="og:image" content="<%= content_for?(:og_image) ? "http://www.tideinstitute.org#{yield(:og_image)}" : "http://www.tideinstitute.org/assets/main_logo.gif" %>" />

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= content_for?(:javascripts) ? yield(:javascripts) : "" %>



<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30053403-1']);
  _gaq.push(['_setDomainName', 'tideinstitute.org']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="wrapper">
  <div id="h">
    <h1><%= link_to "TIDE", root_path %></h1>
    <ul class="account_nav">
			<% if logged_in? %>
        <li><span class="current_user"><%= link_to current_user.email, edit_profile_users_path %></span></li>
        <li><%= link_to "Log Out", logout_path %></li>
      <% else %>
        <li><%= link_to "Log In", "#login_popup", :class => "ajax-link modal", :data => { :url => login_path, :dom => "#login_popup" } %></li>
        <li><%= link_to "Sign Up", "#signup_popup", :class => "ajax-link modal", :data => { :url => signup_path, :dom => "#signup_popup" } %></li>
			<% end %>
    </ul>
    
    <div id="globalsearch">
      <%= form_tag "/search", :method => "get", :class => "search empty", :id => "g-search" do %>
        <div class="sp-label">
          <input type="text" name="q" id="sp-searchtext" accesskey="s" autocomplete="off">
      	</div>
      <% end %>
      <div class="sp-magnify">
        <div class="magnify-searchmode"></div>
        <div class="magnify"></div>
      </div>
    </div>
    
    <div id="gnb">
      <%= navigation_tag :class => "top_nav" do |m| %>
        <%= m.item "NEWS", posts_path, :current => current_controller?(["posts"]), :html => { :class => "go_news" } %>
        <%= m.item "PEOPLE", users_path, :current => current_controller?(["users"]), :html => { :class => "go_people" } %>
        <%= m.item "FORUM", boards_path, :current => current_controller?(["boards"]), :html => { :class => "go_forum" } %>
        <%= m.item "ARCHIVE", "/archives", :current => current_controller?(["archives"]), :html => { :class => "go_archive" } %>
        <%= m.item "TIDE", "/tide", :current => current_controller?(["main","events"]), :html => { :class => "go_tide" } %>
      <% end %>

      <ul id="ssn">
        <li class="follow">Follow TIDE On</li>
        <li class="fb"><%= link_to "Facebook", "https://www.facebook.com/tideinstitute", :target => "_blank" %></li>
        <li class="tw"><%= link_to "Twitter", "http://twitter.com/#!/tideinst", :target => "_blank" %></li>
      </ul>
    </div>
  </div>


  <div id="c">
    <%= yield %>
  </div>


  <div id="f">
    © 2012 TIDE Institue. All rights Reserved. 
    <%= link_to "Privacy Policy", "", :class => "comming_soon" %>
     | 
    <%= link_to "Terms of Use", "", :class => "comming_soon" %>
  </div>
</div>


<div id="login_popup" style="display:none">
  <%= render "sessions/form" %>
</div>

<div id="signup_popup" style="display:none">
  <%= render "users/form" %>
</div>

</body>
</html>
