<div class="popup_wrapper">

	<div class="clearfix">
		<div class="title">
		  <h3><%= image_tag("f/login_login.gif") %></h3>
		  <div class="desc">&nbsp;</div>
		</div>
		<div class="close">
			<a href="#" onclick="close_modal('#login_popup');return false"><%= image_tag("f/register_close.gif") %></a>
		</div>
	</div>

  <%= form_for :user, :as => :user, :url => session_path(:user), :remote => true, :format => :json do |f| %>
    <%= f.label :email, image_tag("f/login_email.gif") %>
    <%= f.text_field :email %>

    <%= f.label :password, image_tag("f/login_password.gif") %>
    <%= f.password_field :password %>

    <div class="cb">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, image_tag("f/login_rememberme.gif") %>
    </div>

    <div class="buttons"><%= image_submit_tag "f/login_button.gif" %></div>
  <% end %>


  <div class="forgot_password">

    <%= form_for(:user, :as => :user, :url => password_path(:user), :html => { :method => :post }, :remote => true, :format => :json) do |f| %>

      <label><%= image_tag "f/login_forgot.gif" %></label>

      <%= f.label :email, image_tag("f/login_email.gif"), :for => "password_email" %>
      <%= f.text_field :email, :id => "password_email" %>

      <div class="buttons"><%= image_submit_tag "f/login_sendbutton.gif" %></div>
    <% end %>

  </div>

</div>
