<div class="popup_wrapper">

	<div class="clearfix">
		<div class="title">
		  <h3><%= image_tag("f/login_login.gif") %></h3>
      <div class="fb_connect">
        <%= link_to "Facebook Connect", auth_at_provider_path(:provider => "facebook"), :class => "facebook" %>
      </div>
		</div>
		<div class="close">
			<a href="#" onclick="close_modal('#login_popup');return false"><%= image_tag("f/register_close.gif") %></a>
		</div>
		<div style="clear:both"></div>
	</div>

  <%= form_tag "/login", :remote => true do %>
    <%= label_tag :email, image_tag("f/login_email.gif") %>
    <%= text_field_tag :email, params[:email] %>

    <%= label_tag :password, image_tag("f/login_password.gif") %>
    <%= password_field_tag :password %>

    <div class="cb">
      <%= check_box_tag :remember_me, 1, params[:remember_me] %>
      <%= label_tag :remember_me, image_tag("f/login_rememberme.gif") %>
    </div>

    <div class="buttons"><%= image_submit_tag "f/login_button.gif" %></div>
  <% end %>


  <div class="forgot_password">

    <%= form_tag password_resets_path, :method => :post, :remote => true do %>

      <label><%= image_tag "f/login_forgot.gif" %></label>

      <%= label_tag :email, image_tag("f/login_email.gif"), :for => "password_email" %>
      <%= text_field_tag :email, nil, :id => "password_email" %>

      <div class="buttons"><%= image_submit_tag "f/login_sendbutton.gif" %></div>
    <% end %>

  </div>

</div>
