<div class="popup_wrapper">

	<div class="title">
	  <h3 class="login">LOGIN</h3>
    <div class="fb_connect">
      <%= link_to "Facebook Connect", auth_at_provider_path(:provider => "facebook"), :class => "facebook" %>
    </div>
		<div class="close">
		  <%= link_to_function "close", "close_modal('#login_popup')" %>
		</div>
	</div>

  <%= form_tag "/login", :remote => true do %>
    <%= label_tag :email, "email", :class => "login_email" %>
    <%= text_field_tag :email, params[:email] %>

    <%= label_tag :password, "password", :class => "login_password" %>
    <%= password_field_tag :password %>

    <div class="checkbox">
      <%= check_box_tag :remember_me, 1, params[:remember_me] %>
      <%= label_tag :remember_me, "remember me", :class => "login_rememberme" %>
    </div>

    <div class="buttons"><%= submit_tag "login", :class => "login" %></div>
  <% end %>


  <div class="input_group">

    <%= form_tag password_resets_path, :method => :post, :remote => true do %>

      <label class="login_forgot">login forgot</label>

      <%= label_tag :email, "email", :class => "login_email", :for => "password_email" %>
      <%= text_field_tag :email, nil, :id => "password_email" %>

      <div class="buttons"><%= submit_tag "login_send", :class => "send" %></div>
    <% end %>

  </div>

</div>
