<% javascript "http://maps.googleapis.com/maps/api/js?sensor=false&language=ko" %>

<%= render "shared/splash" %>

<div class="about_us">
  <ul class="nav">
    <li id="nav_0" class="go_events current"><%= link_to_function "TIDE EVENTS", "setTabNav(0)" %></li>
    <li class="spacer"></li>
    <li id="nav_1" class="go_about"><%= link_to_function "What is TIDE", "setTabNav(1)" %></li>
    <li class="spacer"></li>
    <li id="nav_2" class="go_staff"><%= link_to_function "TIDE Staff", "setTabNav(2)" %></li>
    <li class="spacer"></li>
    <li id="nav_3" class="go_contact"><%= link_to_function "Contact TIDE", "setTabNav(3);showMap();" %></li>
  </ul>
  
  <div class="nav_content_container">
    <div id="about_0" class="nav_content">
      <div class="events">
        <%= render "events/events" %>
        <div class="more"><%= link_to "SHOW MORE >>", events_path %></div>
      </div>
    </div>

    <div id="about_1" class="nav_content with_top_border" style="display:none">
      
      <p style="padding:10px 0 10px;">청년들의 상상력과 기업가정신이 국가와 세계사회의 미래를 결정합니다.</p>
      
      <p><em>TIDE</em> 는<br/>
      창업을 통해 창조적 도전정신을 발현시키고<br/>
      국가와 세계사회에 새로운 가치를 더하고자 하는 청년들을 지원합니다.</p>

      <p><em>TIDE</em> 는<br/>
      첨단과학기술, 디자인의 트렌드와 이머징 마켓에 대한 지속적인 정보공유를 통해<br/>
      선도형 기술기반 창업을 지원합니다.</p>

      <p><em>TIDE</em> 는<br/>
      글로벌한 창업을 지향하며<br/>
      이를 위해 필요한 자원과 국제적 네트워크를 지원합니다.</p>

      <p><em>TIDE</em> 는<br/>
      대한민국에 역동적인 창업정신이 뿌리내리는데 기여하고자 합니다.</p>

      <p style="padding-top:10px;">* <em>TIDE</em> Technology Imagination Design Entrepreneurship</p>
    </div>

    <div id="about_2" class="nav_content with_top_border" style="display:none">
      <h4 style="margin-top:10px">Korea</h4>
      <ul class="staffs">
        <li>
          <%= image_tag "/assets/members/1.jpg", :class => "portrait" %>
          <div class="profile">
            <div class="name">고산</div>
            <div class="name_en">Ko, San</div>
          </div>
          <div class="desc">Co-Founder, TIDE Institute</div>
        </li>
        <li>
          <%= image_tag "/assets/members/2.jpg", :class => "portrait" %>
          <div class="profile">
            <div class="name">유영석</div>
            <div class="name_en">Tony Young Lyu</div>
          </div>
          <div class="desc">Co-Founder, TIDE Institute<br/>CEO, Upstart</div>
        </li>
        <li>
          <%= image_tag "/assets/members/3.jpg", :class => "portrait" %>
          <div class="profile">
            <div class="name">김종화</div>
            <div class="name_en">Jonghwa Kim</div>
          </div>
          <div class="desc">Director, TIDE Institute<br/>Head of Marketing, Ticketmonster, inc.</div>
        </li>
        <li>
          <%= image_tag "/assets/members/4.jpg", :class => "portrait" %>
          <div class="profile">
            <div class="name">박종흠</div>
            <div class="name_en">Albert Jongheum Park</div>
          </div>
          <div class="desc">Director, TIDE Institute<br/>Head of studio, EA Seoul studio</div>
        </li>
        <li>
          <%= image_tag "/assets/members/5.jpg", :class => "portrait" %>
          <div class="profile">
            <div class="name">김진화</div>
            <div class="name_en">Louis J. Kim</div>
          </div>
          <div class="desc">Director, TIDE Institute<br/>CEO, Social Enterprise Orgdot</div>
        </li>
        <li>
          <%= image_tag "/assets/members/8.jpg", :class => "portrait" %>
          <div class="profile">
            <div class="name">황동호</div>
            <div class="name_en">Joseph Hwang</div>
          </div>
          <div class="desc">General Manager, TIDE Institute<br/>CEO, MJ</div>
        </li>
        <li>
          <%= image_tag "/assets/members/6.jpg", :class => "portrait" %>
          <div class="profile">
            <div class="name">양금용</div>
            <div class="name_en">Geumyong Yang</div>
          </div>
          <div class="desc">Auditor, TIDE Institute<br/>General manager FKI-IMI</div>
        </li>
        <li>
          <%= image_tag "/assets/members/7.jpg", :class => "portrait" %>
          <div class="profile">
            <div class="name">경용구</div>
            <div class="name_en">Yong Koo Kyoung</div>
          </div>
          <div class="desc">Auditor, TIDE Institute<br/>Research engineer, Samsung Advanced Institute of Technology</div>
        </li>
        <li>
          <div class="profile">
            <div class="name">안태진</div>
            <div class="name_en">Taejin Ahn</div>
          </div>
          <div class="desc">Advisor, TIDE Institute<br/>Researcher, Samsung Advanced Institute of Technology</div>
        </li>
        <li>
          <%= image_tag "/assets/members/10.jpg", :class => "portrait" %>
          <div class="profile">
            <div class="name">박경준</div>
            <div class="name_en">Kyung-Jun Park</div>
          </div>
          <div class="desc">Advisor, TIDE Institute<br/>Future Designer</div>
        </li>
        <li>
          <%= image_tag "/assets/members/13.jpg", :class => "portrait" %>
          <div class="profile">
            <div class="name">최용우</div>
            <div class="name_en">yongwoo Choi</div>
          </div>
          <div class="desc">Advisor, TIDE Institute<br/>Designer, Design division PANTECH</div>
        </li>
        <li>
          <%= image_tag "/assets/members/14.jpg", :class => "portrait" %>
          <div class="profile">
            <div class="name">엄채윤</div>
            <div class="name_en">Chaeyoon Um</div>
          </div>
          <div class="desc">Advisor, TIDE Institute<br/>Manager, SongAm Space Center</div>
        </li>
        <li>
          <div class="profile">
            <div class="name">이명현</div>
            <div class="name_en">Myunghyun Rhee</div>
          </div>
          <div class="desc">Advisor, TIDE Institute<br/>Executive director, The SETI Korea Society</div>
        </li>
        <li>
          <div class="profile">
            <div class="name">고준호</div>
            <div class="name_en">Ko, Joonho</div>
          </div>
          <div class="desc">Researcher, TIDE Institute</div>
        </li>
      </ul>


      <h4 style="margin-top:20px">US</h4>
      <ul class="staffs">
        <li>
          <div class="profile">
            <div class="name">이지혜</div>
            <div class="name_en">Jihae Jenna Lee</div>
          </div>
          <div class="desc">Director, TIDE Institute US<br/>MBA Candidate, NYU Stern<br/>Former AVP, Acadian Asset Management</div>
        </li>
        <li>
          <div class="profile">
            <div class="name">노범준</div>
            <div class="name_en">Ronald Ro</div>
          </div>
          <div class="desc">Director, TIDE Institute<br/>Business Development Manager, Corporate Development, Cisco</div>
        </li>
        <li>
          <div class="profile">
            <div class="name">이세일</div>
            <div class="name_en">Andrew Sae Il Lee</div>
          </div>
          <div class="desc">Director, TIDE Institute<br/>Strategic Planning Manager, The Dow Chemical Company</div>
        </li>
      </ul>
    </div>



    <div id="about_3" class="nav_content with_top_border" style="display:none">
      <p><em>Email:</em><br/><%= link_to "info@tideinstitute.org", "mailto:info@tideinstitute.org" %></p>
      <p><em>Address:</em>
        <br/>서울특별시 종로구 장사동 116-4 세운상가 554호
        <br/>Jangsadong 116-4, Sewoon Sang-ga #554
        <br/>Jong-Ro_Gu, Seoul, Korea</p>
      <p style="padding-bottom:30px;"></p>

      <script type="text/javascript">
        function showMap() {
          var g = new google.maps.Geocoder();
          var r = { address: "서울특별시 종로구 장사동 116-4 세운상가" };
          g.geocode(r, function(result,code){
            var latlng = result[0].geometry.location;
            var myOptions = {
              zoom: 15,
              center: latlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            var marker = new google.maps.Marker({ position: latlng, title: "Tide Institute" });
            marker.setMap(map);  
          });
        }
      </script>
      <div id="map_canvas" style="width:580px;height:300px" class="map_canvas"></div>

      <p style="padding-bottom:250px;"></p>
    </div>
  </div>
</div>



<div class="sidebar">
  <%= render "shared/side_app" %>
</div>




<script>

function setTabNav(num) {
  $("#nav_" + num).siblings().removeClass("current");
  $("#nav_" + num).addClass("current");
  $("#about_" + num).show();
  $("#about_" + num).siblings().hide();
}

</script>
