<div class="content_title">
  <div class="title_tide">TIDE</div>
</div>

<div class="splash">
  <div><%= image_tag "aboutTide_banner.jpg" %></div>
</div>

<div class="about_us">
  <ul class="nav">
    <li id="nav_1" class="go_about current"><%= link_to_function "What is TIDE", "setTabNav(1)" %></li>
    <li class="spacer"></li>
    <li id="nav_2" class="go_staff"><%= link_to_function "TIDE Staff", "setTabNav(2)" %></li>
    <li class="spacer"></li>
    <li id="nav_3" class="go_contact"><%= link_to_function "Contact TIDE", "setTabNav(3)" %></li>
  </ul>
  
  <div class="nav_content_container">
    <div id="about_1" class="nav_content">
      <p>* <em>TIDE</em> Technology Imagination Design Entrepreneurship</p>
      
      <p style="padding:30px 0 30px;text-align:center;font-size:16px;font-weight:bold;">청년들의 상상력과 기업가정신이 국가와 세계사회의 미래를 결정합니다.</p>
      
      <p><em>TIDE</em> 는<br/>
      창업을 통해 창조적 도전정신을 발현시키고<br/>
      국가와 세계사회에 새로운 가치를 더하고자 하는 청년들을 지원합니다.</p>

      <p><em>TIDE</em> 는<br/>
      첨단과학기술, 디자인의 트렌드와 이머징 마켓에 대한 지속적인 정보공유를 통해<br/>
      선도형 기술기반 창업을 지원합니다.</p>

      <p><em>TIDE</em> 는<br/>
      글로벌한 창업을 지향하며<br/>
      이를 위해 필요한 자원과 국제적 네트워크를 지원합니다.</p>

      <p><em>TIDE</em> 는<br/>
      대한민국에 역동적인 창업정신이 뿌리내리는데 기여하고자 합니다.</p>

      <p style="padding:30px 0 30px;text-align:center;font-size:18px;font-weight:bold;">The best way to predict the future is to create one yourself !</p>
    </div>

    <div id="about_2" class="nav_content" style="display:none">
      <ul class="staffs">
        <% 4.times do %>
          <li>
            <div class="profile">
              <div class="portrait">Profile</div>
              <div class="name_en">An Soo Kim</div>
              <div class="name">김안수</div>
            </div>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div id="about_3" class="nav_content" style="display:none">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="map">
        MAP
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>


<div class="events">
  <h3>TIDE Events & Activities</h3>
  <div class="more"><%= link_to "SHOW MORE >>", events_path %></div>

  <%= render "events/events" %>
</div>



<div class="sidebar">
  <%= render "shared/side_app" %>
</div>




<script>

function setTabNav(num) {
  $("#nav_" + num).siblings().removeClass("current");
  $("#nav_" + num).addClass("current");
  $("#about_" + num).show();
  $("#about_" + num).siblings().hide();
}

</script>
