<div class="content_title">
  <div class="title_tide">TIDE</div>
</div>

<div class="splash">
  <div><%= image_tag "aboutTide_banner.jpg" %></div>
</div>

<div class="about_us">
  <ul class="nav">
    <li id="nav_1" class="go_about current"><%= link_to_function "What is TIDE", "setTabNav(1)" %></li>
    <li class="spacer"></li>
    <li id="nav_2" class="go_staff"><%= link_to_function "TIDE Staff", "setTabNav(2)" %></li>
    <li class="spacer"></li>
    <li id="nav_3" class="go_contact"><%= link_to_function "Contact TIDE", "setTabNav(3)" %></li>
  </ul>
  
  <div class="nav_content_container">
    <div id="about_1" class="nav_content">
      
      <p style="padding:30px 0 10px;text-align:left;font-size:16px;font-weight:bold;">청년들의 상상력과 기업가정신이 국가와 세계사회의 미래를 결정합니다.</p>
      
      <p><em>TIDE</em> 는<br/>
      창업을 통해 창조적 도전정신을 발현시키고<br/>
      국가와 세계사회에 새로운 가치를 더하고자 하는 청년들을 지원합니다.</p>

      <p><em>TIDE</em> 는<br/>
      첨단과학기술, 디자인의 트렌드와 이머징 마켓에 대한 지속적인 정보공유를 통해<br/>
      선도형 기술기반 창업을 지원합니다.</p>

      <p><em>TIDE</em> 는<br/>
      글로벌한 창업을 지향하며<br/>
      이를 위해 필요한 자원과 국제적 네트워크를 지원합니다.</p>

      <p><em>TIDE</em> 는<br/>
      대한민국에 역동적인 창업정신이 뿌리내리는데 기여하고자 합니다.</p>

      <p style="padding:30px 0 10px;text-align:left;font-size:18px;font-weight:bold;">"The best way to predict the future is to create one yourself !!"</p>

      <p>* <em>TIDE</em> Technology Imagination Design Entrepreneurship</p>
    </div>

    <div id="about_2" class="nav_content" style="display:none">
      <h4>Korea</h4>
      <ul class="staffs">
        <li>
          <div class="profile">
            <div class="name">고산</div>
            <div class="name_en">Ko, San</div>
          </div>
          <div class="desc">Founder, TIDE Institute</div>
        </li>
        <li>
          <div class="profile">
            <div class="name">유영석</div>
            <div class="name_en">Tony Young Lyu</div>
          </div>
          <div class="desc">Co-Founder, TIDE Institute<br/>CEO, Upstart</div>
        </li>
        <li>
          <div class="profile">
            <div class="name">김진화</div>
            <div class="name_en">Louis J. Kim</div>
          </div>
          <div class="desc">Director, TIDE Institute<br/>CEO, Ethical Design Orgdot</div>
        </li>
        <li>
          <div class="profile">
            <div class="name">박종흠</div>
            <div class="name_en">Albert Jongheum Park</div>
          </div>
          <div class="desc">Director, TIDE Institute<br/>CTO, EA</div>
        </li>
        <li>
          <div class="profile">
            <div class="name">김종화</div>
            <div class="name_en">Jonghwa Kim</div>
          </div>
          <div class="desc">Director, TIDE Institute<br/>Head of Marketing, Ticket Monster</div>
        </li>
        <li>
          <div class="profile">
            <div class="name">경용구</div>
            <div class="name_en">Yong Koo Kyoung</div>
          </div>
          <div class="desc">Auditor, TIDE Institute<br/>Senior Researcher, SAIT</div>
        </li>
        <li>
          <div class="profile">
            <div class="name">양금용</div>
            <div class="name_en">Geumyong Yang</div>
          </div>
          <div class="desc">Auditor, TIDE Institute<br/>Senior Researcher, FKI</div>
        </li>
        <li>
          <div class="profile">
            <div class="name">황동호</div>
            <div class="name_en">Joseph Hwang</div>
          </div>
          <div class="desc">General Manager, TIDE Institute<br/>CEO, Rena Gold</div>
        </li>
        <li>
          <div class="profile">
            <div class="name">안태진</div>
            <div class="name_en">Taejin Ahn</div>
          </div>
          <div class="desc">Tech Advisory, TIDE Institute<br/>Senior Researcher, SAIT</div>
        </li>
      </ul>
      
      <h4>US</h4>
      <ul class="staffs">
        <li>
          <div class="profile">
            <div class="name">이지혜</div>
            <div class="name_en">Jihae Jenna Lee</div>
          </div>
          <div class="desc">Director, TIDE Institute US<br/>MBA Candidate, NYU Stern</div>
        </li>
        <li>
          <div class="profile">
            <div class="name">이세일</div>
            <div class="name_en">Andrew Sae Il Lee</div>
          </div>
          <div class="desc">Director, TIDE Institute<br/>Strategic Planning Manager, The Dow Chemical Company</div>
        </li>
      </ul>
    </div>


    <div id="about_3" class="nav_content" style="display:none">
      <p><em>Email:</em><br/><%= link_to "info@tideinstitute.org", "mailto:info@tideinstitute.org" %></p>
      <p><em>Address:</em>
        <br/>서울시 금천구 가산동 550-1 IT캐슬 2-807
        <br/>Gasan-Dong 550-1, IT Castle 2-807
        <br/>Kueum-Cheon-Gu, Seoul, Korea</p>
    </div>
  </div>
</div>


<div class="events">
  <h3>TIDE Events & Activities</h3>
  <div class="more"><%= link_to "SHOW MORE >>", events_path %></div>

  <%= render "events/events" %>
</div>



<div class="sidebar">
  <%= render "shared/side_app" %>
</div>




<script>

function setTabNav(num) {
  $("#nav_" + num).siblings().removeClass("current");
  $("#nav_" + num).addClass("current");
  $("#about_" + num).show();
  $("#about_" + num).siblings().hide();
}

</script>
