<div class="browser">
  <div class="actions">
    <div class="button"><%= link_to "+Create Banner", new_admin_banner_path %></div>
  </div>
</div>

<div class="toolbox">
  
</div>

<table class="stats">
  <thead>
    <tr>
      <th class="status">Event</th>
      <th class="status">Category</th>
      <th class="status">Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @banners.each do |c| %>
      <%= content_tag_for :tr, c do %>
        <td><%= c.event.name %></td>
        <td><%= c.category %></td>
        <td>
		  <%= link_to "EDIT", edit_admin_banner_path(c) %>
		  <%= link_to "REMOVE", admin_banner_path(c), :method => :delete, :confirm => "Sure?" %>
	    </td>
      <% end %>
    <% end %>
  </tbody>
</table>
