<div class="content_title">
  <div class="title">EDIT POST ARTICLE</div>
</div>

<div class="edit_form">
  <% if @post.rejected? && current_user.editor? %>
    <div class="edit_note">
      <div class="status">편집 상태 - <%= display_edit_status(@post.edit_status) %></div>
      <div class="caption">Editor Comment:</div>
      <%= @post.edit_note || "없음." %>
    </div>
  <% end %>

  <%= simple_form_for @post do |f| %>

    <% if @post.rejected? %>
      <%= f.hidden_field :edit_status, :value => "waiting" %>
    <% end %>

    <%= f.association :category, :include_blank => false, :label => "카테고리" %>

    <%= f.input :title, :size => 80 %>
    <%= f.input :source_url, :size => 80 %>

    <%= f.input :picture_image, :as => :file, :label => "Main Image" %>
    <div class="input" id="remote_image_selector" style="<%= (@post.kind == "compose") ? "display:none" : nil  %>">
      <label>&nbsp;</label>
      <div class="input_group">
        <%= f.hidden_field :remote_picture_image_url %>
        <p class="message">
          or<br/>
          <%= link_to_function "GET IMAGE FROM SOURCE URL", "updateRemotePictureList('#post_source_url')" %><br/>
          And select from images in source page</p>
        <ul id="remote_picture_images"><li class="message">(no data)</li></ul>
      </div>
    </div>
    
    <%= f.input :body, :label => "Content", :input_html => { :size => "60x15" } %>

    <div class="input">
      <label>TAG</label>
      <div class="input_group">
        <%= render "shared/tags_form", :form => f %>
      </div>
    </div>
    
    <div class="buttons update_button">
      <%= f.submit "UPDATE" %>
    </div>
    
  <% end %>
</div>
