<div class="featured_posts">
  <%= image_tag "/assets/bg/TideBG.gif" %>
</div>

<ul class="posts">
  <% @posts.each do |post| %>
    <%= content_tag_for :li, post do %>
      <div class="category">
        <% if post.category %>
          <%= content_tag :div, post.category.name, :class => post.category.name %>
        <% else %>
          <%= content_tag :div, "essay", :class => "essay" %>
        <% end %>
      </div>
      <div class="picture">
        <%= link_to (image_tag post.picture_image.url), post %>
      </div>
      <div class="content">
        <h4>
          <% if current_user.try(:editor?) %>
            <%= display_edit_status(post.edit_status) %>
          <% end %>
          <%= link_to post.title, post %>
        </h4>
        <div class="abbr"><%= strip_tags post.body %></div>
        <div class="stats">
          <div class="posted_at"><%= l(post.created_at.to_date, :format => :long) %></div>
          <div class="comments"><%= post.comments_count %></div>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <%= paginate @posts %>
</ul>

<div class="sidebar">
  
  <%= render "shared/side_app" %>

  <% if logged_in? && current_user.editor?  %>
    <div class="sb_action">
      <div class="new_post"><%= link_to "POST NEW ARTICLE", new_post_path %></div>
    </div>
  <% else %>
    <div class="sb_action">
      <div class="new_post"><%= link_to_function "POST NEW ARTICLE", "alert('글쓰기 권한이 핼요합니다.')" %></div>
    </div>
  <% end %>
  
</div>
