<div class="featured_posts">
  Main Features / Data Visualization
</div>

<ul class="posts">
  <% @posts.each do |post| %>
    <%= content_tag_for :li, post do %>
      <div class="category">Category</div>
      <div class="picture">
        <div>Picture</div>
      </div>
      <div class="content">
        <h3><%= link_to post.title, post %></h3>
        <div class="abbr"><%= truncate(post.body, :length => 150) %></div>
        <div class="timestamp">posted <%= post.created_at.to_date.to_s %></div>
        <div class="stats">comments 23</div>
      </div>
    <% end %>
  <% end %>
</ul>

<div class="sidebar">
  
  <%= render "shared/side_app" %>

  <div class="sb_action">
    <div><%= link_to "POST NEW ARTICLE", new_post_path %></div>
  </div>
  
</div>
