<div class="content_title">
  <div class="title">POST NEW ARTICLE</div>
</div>

<div class="set_post_type" style="<%= @post.errors.empty? ? nil : "display:none" %>">
  <div class="type">
    <a href="#compose" onclick="$('.set_post_type').hide();$('.edit_form').show();return setPostFormAs('compose');">
      <div>I am writing this article. I have copyright of the article.</div>
      <div>직접 작성한 글로, 저작권이 회원에게 있는 문서</div>
    </a>
  </div>
  <div class="type">
    <a href="#link" onclick="$('.set_post_type').hide();$('.edit_form').show();return setPostFormAs('link');">
      <div>Someone else wrote this article. I do not have copyright of the article.</div>
      <div>타인 혹은 타 매체가 작성한 글로, 저작권이 회원에게 있지 않은 문서</div>
    </a>
  </div>
</div>


<div class="edit_form" style="<%= @post.errors.empty? ? "display:none" : nil %>">
  <%= simple_form_for @post do |f| %>

    <%= f.input :kind, :as => :radio, :collection => [["Copyright resolved","compose"],["Copyright unresolved","link"]], 
      :input_html => { :onclick => "setPostFormAs(this.value)" } %>

    <%= f.association :category, :include_blank => false, :label => "카테고리" %>

    <%= f.input :title, :size => 80 %>
    <%= f.input :source_url, :size => 80 %>

    <%= f.input :picture_image, :as => :file, :label => "Main Image" %>
    <div class="input" id="remote_image_selector" style="<%= (@post.kind == "compose") ? "display:none" : nil  %>">
      <label>&nbsp;</label>
      <div class="input_group">
        <%= f.hidden_field :remote_picture_image_url %>
        <p class="message">
          or<br/>
          <%= link_to_function "GET IMAGE FROM SOURCE URL", "updateRemotePictureList('#post_source_url')" %><br/>
          And select from images in source page</p>
        <ul id="remote_picture_images"><li class="message">(no data)</li></ul>
      </div>
    </div>
    
    <%= f.input :body, :label => "Content", :input_html => { :size => "60x15" } %>

    <div class="input">
      <label>TAG</label>
      <div class="input_group">
        <%= render "shared/tags_form", :form => f %>
      </div>
    </div>
    
    <div class="buttons post_button">
      <%= f.submit "POST" %>
    </div>
    
    <%= f.hidden_field :user_id, :value => current_user.try(:id) %>
    
  <% end %>
</div>
