<div class="content_title">
  <div class="title">NEWS</div>
</div>

<div class="post">
  <h2><%= @post.title %></h2>
  <div class="picture">
    <div>Picture 1</div>
  </div>
  <div class="content">
    <%= @post.body.gsub("\n","<br/>").html_safe %>
  </div>
  <div class="author">
    <span class="label">posted by</span>
    <%= link_to "<em>#{@post.user.name_e}</em><br/>#{@post.user.name}".html_safe %>
  </div>
  <% unless @post.source_url.blank? %>
    <div class="source">
      <em>Source:</em> <%= link_to @post.source_url, @post.source_url, :target => "_blank" %>
    </div>
  <% end %>
  <div class="tags">
    <em>Tag:</em>
    <%= @post.tags.map{|t| link_to_function(t.name, "alert('not yet')") }.join(", ").html_safe %>
  </div>
  
  <div class="like_this_post">
    <div class="vote">
      <div>VOTE APP</div>
    </div>
    <div class="share">
      <div>FB LIKE</div>
    </div>
  </div>

  <div class="related_posts">
    <h3>Related News</h3>
    <ul>
      <% 4.times do %>
      <li>
        <div class="thumb">Picture</div>
        <div class="abbr"><%= link_to "Relative News Here! News text abbr here." %></div>
      </li>
      <% end %>
    </ul>
  </div>
  
  <div class="new_comment">
    <h3>New Comment</h3>
    <%= form_for [@post, Comment.new], :remote => true do |f| %>
      <%= f.hidden_field :post_id, :value => @post.id %>
      <%= f.hidden_field :user_id, :value => current_user.try(:id) %>
      <%= f.text_area :body %>
      <div class="buttons"><%= f.submit "POST", :class => "button" %></div>
    <% end %>
  </div>
  <div class="comments">
    <h3>Comments</h3>
    <ul id="comments">
      <% @post.comments.each do |comment| %>
        <%= render "comments/comment", :comment => comment %>
      <% end %>
    </ul>
  </div>
</div>

<div class="sidebar">

  <%= render "shared/side_app" %>

  <div class="sb_action">
    <div><%= link_to "POST NEW ARTICLE", new_post_path %></div>
  </div>

</div>
