<div class="content_title">
  <div class="title_news">NEWS</div>
</div>

<div class="post">
  <h2>
    <%= display_edit_status(@post.edit_status) %>
    <%= @post.title %>
  </h2>

  <% if @post.rejected? && current_user.try(:editor?) %>
    <div class="edit_note">
      <div class="caption">Editor Comment</div>
      <%= @post.edit_note %>
    </div>
  <% end %>

  <div class="author">
    <span class="label">posted by</span>
    <%= link_to "<em>#{@post.user.name_e}</em> #{@post.user.name}".html_safe, @post.user %>
    <span class="timestamp"><%= l(@post.created_at, :format => :long) %></span>
  </div>

  <div class="picture">
    <%= link_to (image_tag @post.picture_image.url), @post.source_url, :target => "_blank" %>
  </div>

  <% unless @post.source_url.blank? %>
    <div class="source">
      <em>Source:</em> <%= link_to @post.source_url, @post.source_url, :target => "_blank" %>
    </div>
  <% end %>
  <div class="tags">
    <em>Tag:</em>
    <%= @post.tags.map{|t| link_to_function(t.name, "alert('not yet')") }.join(", ").html_safe %>
  </div>

  <div class="content">
    <%= @post.body.gsub("\n","<br/>").html_safe %>
  </div>
  
  <% if @post.editable_to_user?(current_user) %>
    <div class="edit_post">
      <ul class="actions">
        <li><%= link_to "MODIFY", edit_post_path(@post) %></li>
        <li><%= link_to "DELETE", post_path(@post), :method => :delete, :confirm => "Are you sure?" %></li>
      </ul>
    </div>
  <% end %>
  
  <div class="like_this_post" style="display:none">
    <div class="vote">
      <div>VOTE APP</div>
    </div>
    <div class="share">
      <div>FB LIKE</div>
    </div>
  </div>

  <%= render "comments/widget", :content => @post %>
  
</div>

<div class="sidebar">
  <%= render "shared/side_app" %>

  <% if logged_in? && current_user.editor? %>
    <div class="sb_action">
      <div class="new_post"><%= link_to "POST NEW ARTICLE", new_post_path %></div>
    </div>
  <% end %>
  
  <%= render "shared/related_news", :post => @post %>
</div>
