
<%= content_tag_for :li, comment do %>

  <div class="user">
    <%= image_tag "placeholder.png" %>
  </div>

  <div class="body">
    <div class="comment_info">
      <% u = comment.user %>
      <div class="username"><%= link_to "<em>#{u.name_e}</em> #{u.name}".html_safe, u %></div>
      <div class="timestamp"><%= time_ago_in_words(comment.created_at) %> ago</div>

      <% if logged_in? %>
        <% if comment.removable? && (current_user.id == comment.user_id) %>
          <div class="action"><%= link_to "Delete", comment, :method => :delete, :confirm => "정말 삭제하시겠습니까?", :remote => true %></div>
        <% end %>
        <% if comment.root? %>
          <div class="action"><%= link_to_function "Reply", "$('##{dom_id(comment, :new_sub_comment)}').toggle()" %></div>
        <% end %>
      <% end %>
    </div>

    <div class="comment_body"><%= simple_format comment.body %></div>

  </div>

<% end %>
