<%= content_tag_for :li, comment do %>
  <div class="user">
    <div class="profile">
      Profile
    </div>
    <div class="username"><%= link_to comment.user.name, comment.user %></div>
  </div>
  <div class="body"><%= comment.body.gsub("\n", "<br/>").html_safe %></div>
  <div class="status">
    <div class="timestamp"><%= l(comment.created_at, :format => :long) %></div>
    <div class="agreement">
      <div class="positive">
        <%= link_to "+ #{comment.positive_agreements_count}", 
          agreements_path(:post_id => @post.try(:id), :event_id => @event.try(:id), :comment_id => comment.id, :direction => 1), 
          :id => dom_id(comment, :positive), 
          :method => :post, :remote => true %>
      </div>
      <div class="negative">
        <%= link_to "- #{comment.negative_agreements_count}", 
          agreements_path(:post_id => @post.try(:id), :event_id => @event.try(:id), :comment_id => comment.id, :direction => -1), 
          :id => dom_id(comment, :negative), 
          :method => :post, :remote => true %>
      </div>
    </div>
  </div>
<% end %>
