<%
  user = user
  user = User.new if user.nil?
%>

<div class="popup_wrapper">

	<div class="title">
	  <h3 class="signup">SIGNUP</h3>
    <div class="fb_connect">
      <%= link_to "Facebook Connect", auth_at_provider_path(:provider => "facebook"), :class => "facebook" %>
    </div>
		<div class="close">
		  <%= link_to_function "close", "close_modal('#signup_popup')" %>
		</div>
	</div>

  <%= form_for user, :method => :post, :remote => true do |f| %>
    <%= f.label :name_en, :class => "signup_name_en" %>
    <%= f.text_field :name_en %>

    <%= f.label :name, :class => "signup_name_ko" %>
    <%= f.text_field :name %>

    <%= f.label :email, :class => "signup_email" %>
    <%= f.text_field :email %>

    <%= f.label :password, :class => "signup_password" %>
    <%= f.password_field :password %>

    <%= f.label :password, :class => "signup_password2" %>
    <%= f.password_field :password_confirmation %>


    <div class="buttons"><%= f.submit "SignUp", :class => "signup" %></div>
  <% end %>

</div>
