<%= render "users/edit_profile_nav" %>

<div class="edit_profile_form">
  <%= render_notice_message %>
  
  <%= simple_form_for @user, :url => update_profile_users_path, :method => :put do |f| %>
    
    <div class="input file optional">
      <%= f.label :profile_image, "PICTURE" %>
      <div class="profile_image">
        <%= image_tag @user.profile_image.url %>
        <br/>
        <%= f.file_field :profile_image %>
      </div>
    </div>
    <%= f.hidden_field :profile_image_cache %>

    <%= f.input :name, :label => "NAME", :hint => "[KOREAN]", :required => false, :wrapper_html => { :class => "inline_hint" } %>
    <%= f.input :name_en, :label => "&nbsp;".html_safe, :hint => "[ENGLISH]", :required => false, :wrapper_html => { :class => "inline_hint" } %>
    <%= f.input :email, :label => "EMAIL", :required => false %>
    <%= f.input :url_website, :label => "WEBSITE" %>

    <%= f.input :url_facebook, :label => "FACEBOOK" %>
    <%= f.input :url_twitter, :label => "TWITTER" %>
    <%= f.input :url_googleplus, :label => "GOOGLE+" %>
    <%= f.input :url_linkedin, :label => "LINKED-IN" %>

    <%= f.input :work, :as => :text, :label => "WORK", :input_html => { :size => "80x3", :placeholder => "company, department, title" } %>
    <%= f.input :vision, :label => "VISION", :input_html => { :size => "80x5" } %>
    <%= f.input :skills, :label => "SKILLS", :input_html => { :size => "80x5" } %>

    <div class="input tags">
      <label>INTEREST</label>
      <div class="input_group">
        <%= render "shared/tags_form", :form => f %>
      </div>
    </div>


    <div class="buttons update_button">
      <%= f.submit "Update Profile" %>
    </div>
    
  <% end %>
</div>
