<%= render "users/edit_profile_nav" %>

<div class="edit_profile_form">
  <%= render_notice_message %>
  
  <%= simple_form_for @user, :url => update_password_users_path, :method => :put do |f| %>
    
    <%= f.input :password, :label => "PASSWORD" %>
    <%= f.input :password_confirmation, :label => "RE-TYPE" %>

    <div class="buttons update_button">
      <%= f.submit "Update Profile" %>
    </div>
    
  <% end %>
</div>
