<%= render "shared/splash" %>

<%= render "users/search" %>

<div class="people">
  <div class="title">
    <h3 class="new_members">New Members</h3>
    <!-- <div class="more"><%= link_to "more >>", all_users_path %></div> -->
  </div>
  <ul class="people">
    <% @recent_users.each_with_index do |user,idx| %>
      <li class="<%= "row_end" if idx % 6 == 5 %>">
        <%= render "users/thumb", :user => user, :connect_button => true %>
      </li>
    <% end %>
  </ul>
</div>

<div class="sidebar">
  <%= render "shared/side_app" %>

  <div class="sb_action">
    <div class="invite"><%= link_to "INVITE FRIENDS TO TIDE", invite_users_path, :class => "colorbox" %></div>
  </div>
</div>
