<div class="content_title">
  <div class="title">PEOPLE</div>
  <div class="more"><%= link_to "Show All >>" %></div>
</div>

<%= render "users/search" %>


<div class="people">
  <h3>Recently Joined Members</h3>
  <ul>
    <% 10.times do %>
      <% user = User.first %>
      <li>
        <div class="profile">Profile</div>
        <% unless user.name_e.blank? %>
          <div class="username_e"><%= link_to user.name_e, user %></div>
        <% end %>
        <div class="username"><%= link_to user.name, user %></div>
      </li>
    <% end %>
  </ul>
</div>

<div class="people">
  <h3>Active Members of the Week</h3>
  <ul>
    <% 10.times do %>
      <% user = User.first %>
      <li>
        <div class="profile">Profile</div>
        <div class="username"><%= link_to user.name, user %></div>
      </li>
    <% end %>
  </ul>
</div>


<div class="sidebar">
  
  <div>AD/APP</div>
  
</div>
