<div class="content_title">
  <div class="title">PEOPLE</div>
  <div class="more"><%= link_to "Show All >>", all_users_path %></div>
</div>

<%= render "users/search" %>


<div class="people">
  <h3>
    <div class="title">Recently Joined Members</div>
    <div class="more"><%= link_to "more >>", all_users_path %></div>
  </h3>
  <ul class="people">
    <% @recent_users.each do |user| %>
      <li><%= render "users/thumb", :user => user, :connect_button => true %></li>
    <% end %>
  </ul>
</div>

<div class="people">
  <h3>
    <div class="title">Active Members of the Week</div>
    <div class="more"><%= link_to "more >>", all_users_path %></div>
  </h3>
  <ul class="people">
    <% @weekly_users.each do |user| %>
      <li><%= render "users/thumb", :user => user, :connect_button => true %></li>
    <% end %>
  </ul>
</div>


<div class="sidebar">
  <%= render "shared/side_app" %>

  <div class="sb_action">
    <div><%= link_to "INVITE FRIENDS TO TIDE", invite_users_path %></div>
  </div>
</div>
