<%= render "shared/splash" %>

<%= render "users/search" %>

<div class="people_profile">
  <div class="portrait">
    <%= image_tag @user.profile_image.url %>
  </div>
  <div class="profile">
    <div class="username">
      <% unless @user.name_en.blank? %>
        <div class="name_e"><%= @user.name_en %></div>
      <% end %>
      <%= @user.name %>
    </div>
    <div class="connect_wrapper">
      <% if logged_in? %>
        <% if current_user == @user || current_user.connected_to?(@user) %>
          <%= @user.email %>
        <% else %>
          <%= render "connections/button", :user => @user %> <span class="caption">TO SEE EMAIL INFO</span>
        <% end %>
      <% else %>
        <%= render "connections/button", :user => @user %> <span class="caption">TO SEE EMAIL INFO</span>
      <% end %>
    </div>
    
    <ul class="stats">
      <li>
        <div class="value"><%= @user.connections_count %></div>
        <div class="caption">CONNECTION</div>
      </li>
      <li>
        <div class="value"><%= @user.posts_count %></div>
        <div class="caption">POST</div>
      </li>
      <li>
        <div class="value"><%= @user.comments_count %></div>
        <div class="caption">COMMENT</div>
      </li>
    </ul>
    
    <dl class="information">
      <dt>TAG</dt>
      <dd class="tags">
        <%= @user.tags.map{|t| link_to_function(t.name, "alert('not yet')") }.join(", ").html_safe %>
      </dd>
      <dt>WORK HISTORY</dt>
      <dd><%= @user.work %></dd>
      <dt>SKILLS</dt>
      <dd>
        ...
      </dd>
      <dt>VISION</dt>
      <dd>
        ...
      </dd>
    </dl>
  </div>
</div>

<div class="user_connections">
  <div class="title no_border">
    <h3 class="connection">Connection</h3>

    <ul class="connection_type">
      <li class="all current"><%= link_to_function "ALL", "simpleTab(this, 0)" %></li>
      <li class="spacer">/</li>
      <li class="coworker"><%= link_to_function "CO-WORKER", "simpleTab(this, 1)" %></li>
      <li class="spacer">/</li>
      <li class="classmate"><%= link_to_function "CLASSMATE", "simpleTab(this, 2)" %></li>
      <li class="spacer">/</li>
      <li class="friend"><%= link_to_function "FRIEND", "simpleTab(this, 3)" %></li>
      <li class="spacer">/</li>
      <li class="etc"><%= link_to_function "ETC", "simpleTab(this, 4)" %></li>
    </ul>

    <div class="more"><%= link_to "More >>" %></div>
  </div>

  
  <script>
    function simpleTab(element, num) {
      $(element.parentNode).siblings().removeClass("current");
      $(element.parentNode).addClass("current");
      $("#connections_" + num).siblings().hide();
      $("#connections_" + num).show();
    }
  </script>
  
  <div class="tab_content">
    <% [
      @user.connections.limit(5),
      @user.connections.as_co_worker.limit(5),
      @user.connections.as_classmate.limit(5),
      @user.connections.as_friend.limit(5),
      @user.connections.as_etc.limit(5),
      ].each_with_index do |cons,idx|
    %>
      <%= content_tag :ul, :class => "people", :id => "connections_#{idx}", :style => (idx == 0) ? nil : "display:none" do %>
        <% cons.each do |c| %>
          <li><%= render "users/thumb", :user => c.target, :connect_button => true %></li>
        <% end %>
        <% if cons.empty? %>
          <li class="empty">EMPTY</li>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<% unless logged_in? && (current_user == @user) %>

<div class="user_commons">
  <div class="title common">
    <h3 class="common">IN COMMON</h3>
    <div class="more"><%= link_to "More >>" %></div>
  </div>

  <% if logged_in? %>
    
    <% common_ids = @user.connections.map(&:target_id) & current_user.connections.map(&:target_id) %>
    <% common_users = User.where(:id => common_ids).limit(5) %>
    
    <% if common_users.empty? %>
      <p class="message">No User Found.</p>
    <% else %>
      <ul class="people">
        <% common_users.each do |user| %>
          <li><%= render "users/thumb", :user => user %></li>
        <% end %>
      </ul>
    <% end %>
    
  <% else %>
    <p class="empty">Log-In이 필요합니다.</p>
  <% end %>
</div>

<% end %>


<div class="user_posts">
  <div class="title">
    <h3>POST</h3>
    <div class="more"><%= link_to "More >>" %></div>
  </div>
  <ul>
    <% @user.posts.limit(4).each do |post| %>
    <li>
      <div class="thumb"><%= image_tag post.picture_image.url(:thumb) %></div>
      <div class="abbr"><%= link_to post.title, post %></div>
    </li>
    <% end %>
  </ul>
</div>

<div class="user_comments">
  <div class="title">
    <h3>COMMENT</h3>
    <div class="more"><%= link_to "More >>" %></div>
  </div>
  <table>
    <tbody>
      <% @user.comments.limit(5).each do |c| %>
        <tr>
          <td class="content"><%= link_to c.body, c.content %></td>
          <td class="timestamp"><%= l(c.created_at.to_date, :format => :long) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>




<div class="sidebar">
  <%= render "shared/side_app" %>

  <div class="sb_action">
    <div class="invite"><%= link_to "INVITE FRIENDS TO TIDE", invite_users_path, :class => "colorbox" %></div>
  </div>
</div>
