<div class="content_title">
  <div class="title">PEOPLE</div>
</div>

<div class="user">
  <div class="portrait">
    Profile
  </div>
  <div class="profile">
    <div class="username">
      <% unless @user.name_e.blank? %>
        <span class="name_e"><%= @user.name_e %></span>
      <% end %>
      <%= @user.name %>
    </div>
    <div class="location"><%= @user.location %></div>
    <div class="category"><%= display_user_category(@user) %></div>
    
    <dl class="information">
      <dt>TAG</dt>
      <dd>BIO TECH, MANAGEMENT</dd>
      <dt>EMAIL</dt>
      <dd><%= @user.email %></dd>
      <% unless @user.website.blank? %>
        <dt>WEBSITE</dt>
        <dd><%= @user.website.split("\n").select{|t| !t.blank? }.map{|t| link_to(t,t,target:"_blank")}.join("<br/>").html_safe %></dd>
      <% end %>
      <% unless @user.work.blank? %>
        <dt>WORK</dt>
        <dd><%= @user.work %></dd>
      <% end %>
      <% unless @user.interest.blank? %>
        <dt>INTEREST</dt>
        <dd><%= @user.interest %></dd>
      <% end %>
    </dl>
    
    <ul class="stats">
      <li>
        <div class="value">17</div>
        <div class="caption">CONNECTION</div>
      </li>
      <li>
        <div class="value">35</div>
        <div class="caption">POSTED</div>
      </li>
      <li>
        <div class="value">88</div>
        <div class="caption">COMMENTED</div>
      </li>
    </ul>
  </div>
</div>

<div class="connection">
  <h3><%= @user.name %>'s Connection</h3>
  <ul>
    <% 17.times do %>
      <% user = User.first %>
      <li>
        <div class="profile">Profile</div>
        <% unless user.name_e.blank? %>
          <div class="username_e"><%= link_to user.name_e, user %></div>
        <% end %>
        <div class="username"><%= link_to user.name, user %></div>
      </li>
    <% end %>
  </ul>
</div>




<div class="sidebar">
  <%= render "shared/side_app" %>
</div>
