<% scope_name = form.object.class.to_s.downcase %>

<ul id="tags" class="tags_form">
  <%= form.fields_for :taggings, :id => false do |tag_form| %>
    <li class="tag">
      <div><%= tag_form.object.name %><%= link_to_function "x", "removeTag(this)" %></div>
      <%= tag_form.hidden_field :_destroy, :class => "remove" %>
      <%= tag_form.hidden_field :name %>
    </li>
  <% end %>
</ul>

<div class="tag_insert_form">
  <div class="exist_tag">
    <label>SELECT FROM LIST</label>
    <div class="options">
      <% [Category.first, Category.first, Category.first, Category.first].each do |c| %>
        <%= select_tag :exist_tag,
          options_for_select(c.tags.order("name").map {|t| [t.name, t.name]}.insert(0, ["== #{c.name} ==", "0"])),
          :onchange => "addNewTag($(this).val()); $(this).val(0);"
        %>
      <% end %>
    </div>
    <% link_to_function "+add", "addNewTag($('#exist_tag').val())" %>
  </div>
  <div class="new_tag">
    <label for="new_tag">OR TYPE IN</label>
    <%= text_field_tag :new_tag, nil, :autocomplete => "off" %>
    <%= link_to_function "+add", "addNewTag()" %>
  </div>
</div>


<script>

function removeTag(e) {
  var c = $(e).parent();
  c.next().val("1");
  c.parent().hide();
}

function addNewTag(val) {
  var tag = val;
  if (!tag) tag = $("#new_tag").val();
  if (tag.length <= 1) {
    return;
  }
  var random_id = new Date().getTime();
  var html = "\
  <li class='tag'> \
  <div>" + tag + "<a href='#' onclick='removeTag(this);return false;'>x</a></div> \
  <input class='remove' name='<%= scope_name %>[taggings_attributes][new" + random_id + "][_destroy]' type='hidden' value='' /> \
  <input name='<%= scope_name %>[taggings_attributes][new" + random_id + "][name]' type='hidden' value='" + tag + "' /> \
  </li>";
  $("#tags").append(html);
  $("#new_tag").val("");
}

</script>
