<div class="forum no_first_border">

  <table class="boards">
    <thead>
      <th class="uid">NO.</th>
      <th class="subject">SUBJECT</th>
      <th class="number"><span class="comment"></span></th>
      <th class="author">POSTED_BY</th>
      <th class="timestamp">DATE</th>
    </thead>
    <tbody>
      <% @boards.each do |c| %>
        <%= content_tag_for :tr, c do %>
          <td class="center"><%= c.id %></td>
          <td><%= build_post_title(c) %></td>
          <td class="center date"><%= c.comments_count %></td>
          <td class="center author"><%= link_to c.user_username, user_path(c.user_id) %></td>
          <td class="center date"><%= display_post_time(c.created_at) %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div class="board_toolbox">
    <ul class="actions">
      <% if logged_in? %>
        <li class="new_post"><%= link_to "+글쓰기", new_board_path %></li>
      <% else %>
        <li class="new_post"><%= link_to_function "+글쓰기", "alert('로그인이 필요합니다.')" %></li>
      <% end %>
    </ul>
  </div>

  <%= paginate @boards %>
</div>


<div class="sidebar">
  <%= render "shared/side_app" %>
</div>
