<div class="forum no_first_border">

  <table class="boards">
    <thead>
      <th class="uid"></th>
      <th class="">제목</th>
      <th class="author">작성자</th>
      <th class="timestamp">작성일</th>
      <th class="number">조회</th>
      <th class="number">추천</th>
    </thead>
    <tbody>
      <% @boards.each do |c| %>
        <%= content_tag_for :tr, c do %>
          <td class="center"><%= c.id %></td>
          <td><%= build_post_title(c) %></td>
          <td class="center"><%= link_to c.user_username, user_path(c.user_id) %></td>
          <td class="center"><%= display_post_time(c.created_at) %></td>
          <td class="center"><%= c.pv_count %></td>
          <td class="center"><%=  %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div class="board_toolbox">
    <ul class="actions">
      <% if logged_in? %>
        <li class="new_post"><%= link_to "+글쓰기", new_board_path %></li>
      <% end %>
    </ul>
  </div>

  <%= paginate @boards %>
</div>


<div class="sidebar">
  <%= render "shared/side_app" %>
</div>
