<div class="board_content">
  
  <div class="board_header">
    <h2><%= @board.title %></h2>
    <div class="author user_link">
      Posted by <%= link_to @board.user_username, user_path(@board.user_id) %>
    </div>
    <div class="created_at"><%= display_post_time(@board.created_at) %></div>
    <div class="post_stats">
      <span class="comments"><%= @board.comments_count %></span>
    </div>
    
  </div>

  <div class="board_content">
  
    <div class="board_body">
      <%= simple_format @board.body %>
    </div>
    
    <%= render "shared/attached_files", :content => @board %>
    
    <div class="board_toolbox">
      <ul class="actions">
        <% if current_user == @board.user %>
          <li class="edit_post"><%= link_to "수정", edit_board_path(@board) %></li>
          <% if @board.removable? %>
            <li class="delete_post"><%= link_to "삭제", board_path(@board), :method => :delete, :confirm => "Sure?" %></li>
          <% end %>
        <% end %>
        <li class="list_post"><%= link_to "목록", boards_path %></li>
      </ul>
    </div>

    <%= render "comments/widget", :content => @board, :class_name => "post_comments" %>
  </div>
</div>
