<ul>
  <% @events.each do |ev| %>
    <%= content_tag_for :li, ev do %>
      <div class="thumb">Main Picture</div>
      <div class="info">
        <div class="time"><%= l(ev.opened_at.to_date, :format => :long) %></div>
        <div class="title"><%= link_to ev.name, ev %></div>
        <div class="desc"><%= truncate(ev.body, :length => 150) %></div>
        <div class="stats">
          <div class="posted_at">posted <%= ev.created_at.to_date %></div>
          <div class="comments">Comments <%= ev.comments_count %></div>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>
