<ul>
  <% @events.each do |ev| %>
    <%= content_tag_for :li, ev, :class => (@events.first == ev) ? "first_child" : "" do %>
      <div class="category">
        <% if ev.upcoming? %>
          <%= content_tag :div, "event upcoming", :class => "event_upcoming" %>
        <% else %>
          <%= content_tag :div, "event", :class => "event" %>
        <% end %>
      </div>
      <div class="picture">
        <%= link_to image_tag(ev.thumb_image.url), ev %>
      </div>
      <div class="content">
        <h4><%= link_to ev.name.html_safe, ev %></h4>
        <div class="abbr"><%= ev.abbr %></div>
        <div class="stats">
          &nbsp;
          <div class="posted_at" style="display:none"><%= l(ev.opened_at.to_date, :format => :long) %> ~ <%= l(ev.closed_at.to_date, :format => :long) %></div>
          <div class="comments"><%= link_to ev.comments_count, ev %></div>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>
