<ul>
  <% @events.each do |ev| %>
    <%= content_tag_for :li, ev do %>
      <div class="category"><%= content_tag :div, "event", :class => "event" %></div>
      <div class="picture">
        <%= link_to image_tag(ev.thumb_image.url), ev %>
      </div>
      <div class="content">
        <h4><%= link_to ev.name.html_safe, ev %></h4>
        <div class="abbr"><%= truncate(ev.abbr, :length => 250) %></div>
        <div class="stats">
          <div class="posted_at"><%= l(ev.opened_at.to_date, :format => :long) %> ~ <%= l(ev.closed_at.to_date, :format => :long) %></div>
          <div class="comments"><%= ev.comments_count %></div>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>
