<div class="post">
  <div class="category">
    <% if @event.upcoming? %>
      <div class="upcoming_text banner_text">UPCOMING EVENT</div>
    <% else %>
      <div class="past_text banner_text">TIDE EVENT</div>
    <% end %>
  </div>
  
  <h2><%= @event.name.html_safe %></h2>
  <div class="picture_left">
    <!-- <%= link_to image_tag(@event.picture_image.url), @event.picture_image.url, :target => "_blank" %> -->
  </div>

  <div class="content">
    <%= @event.body.gsub("\n","<br/>").html_safe %>
  </div>
  
  <% if "NEVER TRUE" == @event.accept_registration? %>
    <div class="register_event">
      <%= link_to "Register", "#new_registration_popup", :class => "ajax-link modal", :data => { :url => new_event_registration_path(@event), :dom => "#new_registration_popup" } %>
    </div>
  <% end %>

  <div class="author">
    <span class="label">posted by</span>
    <em>TIDE</em>
  </div>
  <div class="posted_at"><%= l(@event.created_at, :format => :long) %></div>

  <div class="sharebox">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>
  </div>
  
  
  <%= render "comments/widget", :content => @event %>
</div>

<div class="sidebar">
  <%= render "shared/side_app" %>
</div>

<div id="new_registration_popup" style="display:none">
</div>
