<div class="content_title">
  <div class="title_events">TIDE EVENTS</div>
</div>

<div class="post">
  <div class="category">
    <div class="event_text">TIDE EVENTS</div>
  </div>
  <h2><%= @event.name.html_safe %></h2>
  <div class="picture_left">
    <%= link_to image_tag(@event.picture_image.url), @event.picture_image.url, :target => "_blank" %>
  </div>

  <div class="content">
    <%= @event.body.gsub("\n","<br/>").html_safe %>
  </div>
  
  <% if @event.accept_registration? %>
    <div class="register_event">
      <%= link_to "Register", "#new_registration_popup", :class => "ajax-link modal", :data => { :url => new_event_registration_path(@event), :dom => "#new_registration_popup" } %>
    </div>
  <% end %>

  <div class="author">
    <span class="label">posted by</span>
    <em>TIDE</em>
  </div>
  <div class="posted_at"><%= l(@event.created_at, :format => :long) %></div>

  <div class="sharebox">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>
  </div>

  <div id="comments_app">

    <div class="new_comment">
      <h3>New Comment</h3>
      <%= form_for [@event,Comment.new] do |f| %>
        <% if user_signed_in? %>
        <% end %>
        <% if false %>
          <%= f.text_area :body %>
          <div class="buttons"><%= image_submit_tag "t/News_PostComment.gif" %></div>
        <% else %>
          <%= f.text_area :body, :value => "Log-in required", :disabled => true %>
          <div class="buttons"><%= image_submit_tag "t/News_PostComment.gif", :disabled => true %></div>
        <% end %>
      <% end %>
    </div>

    <div class="comments">
      <h3>Comments</h3>
      <ul id="comments"></ul>
    </div>
    
    <script>
    var _CommentApp = true;
    var _postID = <%= @event.id.to_json.html_safe %>;
    var _userID = <%= current_user.try(:id).to_json.html_safe %>;
    var _userName = <%= current_user.try(:name).to_json.html_safe %>;
    var _commentsData = <%= @event.comments.to_json(:include => :user).html_safe %>;
    var _agreementsData = <%= @agreements.to_json.html_safe %>;
    </script>

    <script type="text/x-jquery-tmpl" id="comment_template">
      <%= render "comments/comment" %>
    </script>
    <script type="text/x-jquery-tmpl" id="comment_edit_template">
      <%= render "comments/edit" %>
    </script>
  </div>
  
</div>

<div class="sidebar">
  <%= render "shared/side_app" %>
</div>

<div id="new_registration_popup" style="display:none">
  <%= render "registrations/form" %>
</div>
