<div class="content_title">
  <div class="title_news">NEWS</div>
</div>

<div class="post">
  <div class="category">
    <%= @event.event_type %>
  </div>
  <h2><%= @event.name %></h2>
  <div class="picture">
    <%= image_tag @event.picture_image.url %>
  </div>

  <div class="content">
    <%= @event.body.gsub("\n","<br/>").html_safe %>
  </div>

  <div class="author">
    <span class="label">posted by</span>
    <em>TIDE</em>
  </div>
  <div class="posted_at"><%= l(@event.created_at, :format => :long) %></div>

  <div id="comments_app">

    <div class="new_comment">
      <h3>New Comment</h3>
      <%= form_for [@event,Comment.new] do |f| %>
        <% if user_signed_in? %>
          <%= f.text_area :body %>
          <div class="buttons"><%= f.submit "POST", :class => "button" %></div>
        <% else %>
          <%= f.text_area :body, :value => "Log-in required", :disabled => true %>
          <div class="buttons"><%= f.submit "POST", :class => "button", :disabled => true %></div>
        <% end %>
      <% end %>
    </div>

    <div class="comments">
      <h3>Comments</h3>
      <ul id="comments"></ul>
    </div>
    
    <script>
    var _CommentApp = true;
    var _postID = <%= @event.id.to_json.html_safe %>;
    var _userID = <%= current_user.try(:id).to_json.html_safe %>;
    var _userName = <%= current_user.try(:name).to_json.html_safe %>;
    var _commentsData = <%= @event.comments.to_json(:include => :user).html_safe %>;
    var _agreementsData = <%= @agreements.to_json.html_safe %>;
    </script>

    <script type="text/x-jquery-tmpl" id="comment_template">
      <%= render "comments/comment" %>
    </script>
    <script type="text/x-jquery-tmpl" id="comment_edit_template">
      <%= render "comments/edit" %>
    </script>
  </div>
  
</div>

<div class="sidebar">
  <%= render "shared/side_app" %>
</div>
